html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.menu {
    position: absolute;
    width: 250px;
    top: 10px;
    bottom: 10px;
    border-radius: 145px 0 30px 30px;
    padding-top: 170px;
}

.menu::after {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    left: 99%;
    top: 60px;
}

.menu a {
    display: flex;
    text-decoration: none;
    color: #000;
    border-color: #000;
    border-width: 5px 0 0 0;
    border-style: solid;
    height: 60px;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    letter-spacing: -1px;
    font-size: 16px;
    padding: 0 5px;
}

.menu a:last-of-type {
    border-bottom-width: 5px;
}

.title {
    height: 60px;
    margin-left: 250px;
    background: #000 !important;
    display: flex;
    font-size: 83px;
    font-weight: bold;
    letter-spacing: -6px;
    line-height: 63px;
}

.title::after {
    content: "";
    width: 60px;
    border-radius: 0 30px 30px 0;
    margin-left: 15px;
}

.title::before {
    content: "";
    flex: 1;
    margin-right: 5px;
}

.content {
    flex: 1;
    margin-left: 250px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.content::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 35px;
    background-color: #000;
    z-index: 1;
}

.content > * {
    z-index: 2;
}

.content iframe {
    border: none;
    flex: 1;
    margin: 15px 0 0 15px;
}

.color-1, .color-1::before, .color-1::after {
    background-color: #003366;
}

.color-2, .color-2::before, .color-2::after {
    background-color: #3399cc;
}

.color-2:hover, .color-2:hover::before, .color-2:hover::after {
    background-color: #99ccff;
}

@media (max-width: 820px) {

    .menu {
        width: 150px;
        top: 10px;
        bottom: 10px;
        border-radius: 85px 0 15px 15px;
        padding-top: 100px;
    }
    
    .menu::after {
        width: 23px;
        height: 23px;
        top: 40px;
    }
    
    .menu a {
        border-width: 4px 0 0 0;
        height: 40px;
        font-size: 14px;
        padding: 0 4px;
    }
    
    .menu a:last-of-type {
        border-bottom-width: 4px;
    }
    
    .title {
        height: 40px;
        margin-left: 149px;
        font-size: 54px;
        letter-spacing: -4px;
        line-height: 41px;
    }
    
    .title::after {
        width: 40px;
        border-radius: 0 20px 20px 0;
        margin-left: 10px;
    }
    
    .title::before {
        margin-right: 4px;
    }
    
    .content {
        margin-left: 150px;
    }
    
    .content::before {
        width: 25px;
        height: 25px;
        border-top-left-radius: 22px;
    }
}

@media (max-width: 530px) {

    body {
        padding: 5px;
    }
    
    .menu {
        width: 100px;
        top: 5px;
        bottom: 5px;
        border-radius: 85px 0 10px 10px;
        padding-top: 100px;
    }
    
    .menu::after {
        width: 18px;
        height: 18px;
        top: 30px;
    }
    
    .menu a {
        border-width: 3px 0 0 0;
        height: 30px;
        font-size: 11px;
        padding: 0 3px;
        letter-spacing: -.5;
    }
    
    .menu a:last-of-type {
        border-bottom-width: 3px;
    }
    
    .title {
        height: 30px;
        margin-left: 99px;
        font-size: 40px;
        letter-spacing: -3px;
        line-height: 31px;
    }
    
    .title::after {
        width: 30px;
        border-radius: 0 15px 15px 0;
        margin-left: 6px;
    }
    
    .title::before {
        margin-right: 2px;
    }
    
    .content {
        margin-left: 100px;
    }
    
    .content::before {
        width: 18px;
        height: 18px;
        border-top-left-radius: 16px;
    }
}
